<!DOCTYPE html>
<html lang="pt">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="/theme/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="/">
  <link rel="stylesheet" type="text/css" href="/theme/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono">
  <link rel="stylesheet" type="text/css" href="/theme/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/theme/css/hatena-bookmark-icon.css">


  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Emilio Eiji Inaba">
  <meta name="description" content="Posts and writings by Emilio Eiji Inaba">


<meta name="keywords" content="vim, dicas">

  <title>
    emilioeiji.com.br
&ndash; Flask Introdução  </title>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41240903-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>
  <main>
    <header>
      <div class="site-name">
        <a href="">emilioeiji.com.br</a>
      </div>
      <p>
        <a href="/archives.html"><i class="fa fa-archive"></i> Archive</a>
      </p>
    </header>

<article>
  <div class="article__title">
    <h1><a href="/flask-introdução.html">Flask Introdução</a></h1>
  </div>
  <div class="article__meta">
    <p class="article__meta__post-date">Posted on: dom 24 maio 2015</p>
 Tags:
      <a href="/tag/vim.html">#vim</a>,      <a href="/tag/dicas.html">#dicas</a>    </p>
  </div>
  <div class="article__text">
    <p>Depois que migrei o meu blog para o Pelican, procurei mais a fundo
aprender sua estrutura, pesquisando como funcionava seus templates
etc. Com isso vi que o desenvolvimento web com frameworks python
fica muito mais fácil e dinamico surgindo interesse no web2py e
flask.</p>
<p>A primeiro momento escolhi o flask por ser recomendado para
iniciantes (como eu). Pretendo nesse post criar um site/app
simples seguindo uma estrutura de diretórios, sei que o correto
seria iniciar com o modelo de prograação MVC mas como estou
aprendendo prefiro não complicar muito agora no começo, espero que
todos compreendam que não sou programador por tanto, não entrarei
muito em detalhes já que meu conhecimento é superficial em
programação, mas prometo que assim que for melhorando vou
elaborando posts com mais qualidade.</p>
<div class="section" id="a-instalacao">
<h2>A instalação</h2>
<p>A instalação é muito simples, basta pelo gerenciador de pacotes
do python executar o seguinte comando:</p>
<div class="highlight"><pre><span></span>pip install Flask
</pre></div>
<p>O procedimento pode ser executado (é até aconselhavel) rodando
dentro do virtualenv, onde cria-se um ambiente virtual para o
desenvolvimento assim, caso seja instalado novos pacotes não
irá impactar na sua maquina local.</p>
</div>
<div class="section" id="criando-a-estrutura">
<h2>Criando a estrutura</h2>
<p>A estrutura do projeto é bem básica, dentro de um diretório
comm o nome do seu site/app iremos criar a seguinte estrutura:</p>
<div class="highlight"><pre><span></span>app/
├── README.md
├── routes.py
├── static
│   ├── css
│   ├── img
│   └── js
└── templates
    ├── home.html
    └── layout.html
</pre></div>
<p>Portando mão na massa e vamos criar os diretórios.</p>
<div class="highlight"><pre><span></span>mkdir app
touch README.md
touch routes.py
mkdir static
mkdir static/css
mkdir static/img
mkdir static/js
mkdir templates
</pre></div>
<p>A princípio criamos um diretório chamado app onde armazenaremos
todos os arquivos, em seguida crirei o arquivo README.md e
routes.py em branco, onde o README.md deverá conter a descrição
e as funcionalidades do nosso site/app, e o arquivo routes.py
onde contem as nossas funções python. No diretório static irão
ficar todos os nossos arquivo estáticos que não tem alterações,
como imagens, arquivos css, templates, java script, etc.</p>
</div>
<div class="section" id="templates">
<h2>Templates</h2>
<p>A primeiro momento podemos criar uma aplicaço básica em
qualquer arquivo e executá-lo com o python que estará pronto
nosso primeiro aplicativo, veja um exemplo abaixo:</p>
<div class="highlight"><pre><span></span><span class="ch">#!/usr/bin/python3</span>
<span class="c1"># -*- encoding: utf-8 -*-</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span>
<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="vm">__name__</span><span class="p">)</span>

<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
   <span class="k">return</span> <span class="s1">&#39;Index Page&#39;</span>

<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/hello&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">():</span>
   <span class="k">return</span> <span class="s1">&#39;Hello World!&#39;</span>

<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
</pre></div>
<p>Para executá-lo:</p>
<div class="highlight"><pre><span></span><span class="n">python3</span> <span class="n">hello</span><span class="o">.</span><span class="n">py</span>
</pre></div>
<p>Para acessá-lo: abrir o browser em <a class="reference external" href="http://localhost:5000">http://localhost:5000</a></p>
<p>Pronto, nossa primeira aplicação :p</p>
<p>Mas para deixarmos nosso site/app mais bonito, efetuamos o uso
dos templates, e para facilitar ainda mais, podemos criar um
arquivo de layout e sempre que necessário chamamos ele dentro
de outros arquivos.</p>
<p>Para a criaçao dos templates é utilizado o jinja2, padrão para
qualquer framework que faz uso do mesmo, portanto nele podemos
chamar variáveis e utilizar alguns comandos python.</p>
<p>Vamos agora criar o arquivo de layout dentro de
static/templates</p>
<div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Aplicação Flask<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">header</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">h1</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;logo&quot;</span><span class="p">&gt;</span>Aplicação Flask<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">header</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
      {% block content %}
      {% endblock %}
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
<p>No arquivo de layout.html definimos o título e um cabeçalho
dentro de uma div, sempre que qualquer outro template fazer o
uso do layout.html conterá esse cabeçalho e o conteúdo do outro
arquivo será exibido dentro do {% block content %} e {%
endblock %}</p>
<p>Vamos criar agora o arquivo home.html para ilustrar melhor a
sua utilização.</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="n">extends</span> <span class="s2">&quot;layout.html&quot;</span> <span class="o">%</span><span class="p">}</span>
<span class="p">{</span><span class="o">%</span> <span class="n">block</span> <span class="n">content</span> <span class="o">%</span><span class="p">}</span>
  <span class="o">&lt;</span><span class="n">div</span> <span class="n">class</span><span class="o">=</span><span class="s2">&quot;jumbo&quot;</span><span class="o">&gt;</span>
<span class="o">&lt;</span><span class="n">h2</span><span class="o">&gt;</span><span class="n">Seja</span> <span class="n">bem</span> <span class="n">vindo</span> <span class="n">a</span> <span class="n">uma</span> <span class="n">aplicação</span> <span class="n">flask</span><span class="o">&lt;</span><span class="n">h2</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="n">h3</span><span class="o">&gt;</span><span class="n">Essa</span> <span class="n">é</span> <span class="n">a</span> <span class="n">homepage</span> <span class="n">da</span> <span class="n">aplicação</span> <span class="n">flask</span><span class="o">&lt;</span><span class="n">h3</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">div</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endblock</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
</div>
<div class="section" id="codando-python">
<h2>Codando Python</h2>
<p>Bom até o momento criamos um app muito simples que retorna
apenas Hello World! e criamos as templates, mas como
interligamos tudo isso?</p>
<p>Vamos começar agora a codar dentro do arquivo routes.py, onde
criaremos as funções e mapeamentos para que a nossa aplicação
funcione corretamente.</p>
<p>Dentro do arquivo app/routes.py vamos codar as seguintes
linhas:</p>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="vm">__name__</span><span class="p">)</span>

<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">home</span><span class="p">():</span>
  <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s1">&#39;home.html&#39;</span><span class="p">)</span>

<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
  <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
</pre></div>
<ol class="arabic simple">
<li>Na linha 1 efetuamos a importação do módulo flask dentro do python.</li>
<li>Em seguinda na linha 3 criamos uma nova instância da classe Flask</li>
<li>Na linha 5 efetuamos o mapemando do / para a função home().
Sempre que alguem visitar o / será redirecionamdo para o
/home.html.</li>
<li>Criamos a função home() que retorna a função Flask
render_template(), o mesmo faz a renderização dos teplates
que criamos.</li>
<li>Nas linhas 9 e 10 rodamos o nosso aplicativo com o comando
run().</li>
</ol>
<p>Vamos ver como está ficando?</p>
<div class="highlight"><pre><span></span>python3 hello.py
</pre></div>
<p>Se tudo estiver correto irá carregar uma página bem simples
contendo algumas mensagens. Vamos melhorar essa visualização
utilizando o arquivo static/css que criaremos agora.</p>
<p>Vamos criar um arquivo dentro de app/static/css com o nome de
main.css e vamos colocar o seguinte conteúdo dentro dele.</p>
<div class="highlight"><pre><span></span><span class="nt">body</span> <span class="p">{</span>
  <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">padding</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">font-family</span><span class="p">:</span> <span class="s2">&quot;Helvetica Neue&quot;</span><span class="p">,</span> <span class="n">Helvetica</span><span class="p">,</span> <span class="n">Arial</span><span class="p">,</span> <span class="n">sans-</span>        <span class="kc">serif</span><span class="p">;</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#444</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">header</span> <span class="p">{</span>
  <span class="k">background-color</span><span class="p">:</span> <span class="mh">#2B2B2B</span><span class="p">;</span>
  <span class="k">height</span><span class="p">:</span> <span class="mi">35</span><span class="kt">px</span><span class="p">;</span>
  <span class="k">width</span><span class="p">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
  <span class="k">opacity</span><span class="p">:</span> <span class="mf">.9</span><span class="p">;</span>
  <span class="k">margin-bottom</span><span class="p">:</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">header</span> <span class="nt">h1</span><span class="p">.</span><span class="nc">logo</span> <span class="p">{</span>
  <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">font-size</span><span class="p">:</span> <span class="mf">1.7</span><span class="kt">em</span><span class="p">;</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#fff</span><span class="p">;</span>
  <span class="k">text-transform</span><span class="p">:</span> <span class="kc">uppercase</span><span class="p">;</span>
  <span class="k">float</span><span class="p">:</span> <span class="kc">left</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">header</span> <span class="nt">h1</span><span class="p">.</span><span class="nc">logo</span><span class="p">:</span><span class="nd">hover</span> <span class="p">{</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#fff</span><span class="p">;</span>
  <span class="k">text-decoration</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span>
<span class="p">}</span>

<span class="c">/*</span>
<span class="c"> * Center the body content</span>
<span class="c"> */</span>

<span class="p">.</span><span class="nc">container</span> <span class="p">{</span>
  <span class="k">width</span><span class="p">:</span> <span class="mi">940</span><span class="kt">px</span><span class="p">;</span>
  <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span> <span class="kc">auto</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">div</span><span class="p">.</span><span class="nc">jumbo</span> <span class="p">{</span>
  <span class="k">padding</span><span class="p">:</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span> <span class="mi">30</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">background-color</span><span class="p">:</span> <span class="mh">#eeeeee</span><span class="p">;</span>
  <span class="kp">-webkit-</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
 <span class="kp">-moz-</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
          <span class="k">border-radius</span><span class="p">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">h2</span> <span class="p">{</span>
  <span class="k">font-size</span><span class="p">:</span> <span class="mi">3</span><span class="kt">em</span><span class="p">;</span>
  <span class="k">margin-top</span><span class="p">:</span> <span class="mi">40</span><span class="kt">px</span><span class="p">;</span>
  <span class="k">text-align</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span>
  <span class="k">letter-spacing</span><span class="p">:</span> <span class="mi">-2</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="nt">h3</span> <span class="p">{</span>
  <span class="k">font-size</span><span class="p">:</span> <span class="mf">1.7</span><span class="kt">em</span><span class="p">;</span>
  <span class="k">font-weight</span><span class="p">:</span> <span class="mi">100</span><span class="p">;</span>
  <span class="k">margin-top</span><span class="p">:</span> <span class="mi">30</span><span class="kt">px</span><span class="p">;</span>
  <span class="k">text-align</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span>
  <span class="k">letter-spacing</span><span class="p">:</span> <span class="mi">-1</span><span class="kt">px</span><span class="p">;</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#999</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
<p>Agora vamos alterar nosso arquivo layout.html para que busce
nosso arquivo de estilo css, todos os templates filhos irão
efetuar o uso do css.</p>
<p>Vamos acrescentar a linha abaixo dentro do nosso arquivo
layout.html</p>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;static&#39;, filename=&#39;css/main.css&#39;) }}&quot;</span><span class="p">&gt;</span>;
</pre></div>
<p>Ficando assim:</p>
<div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Flask<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">strong</span><span class="p">&gt;&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;static&#39;, filename=&#39;css/main.css&#39;) }}&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">strong</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">header</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">h1</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;logo&quot;</span><span class="p">&gt;</span>Aplicação Flask<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">header</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
      {% block content %}
      {% endblock %}
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
<p>Feito isso obtemos uma página um pouco mais bonitinha ao
recarregar.</p>
</div>
<div class="section" id="about-html">
<h2>about.html</h2>
<p>Vamos agora criar uma página onde irá falar um pouco do nosso
aplicativo chamada de about.html, iniciaremos criando um
template para ela em app/templates</p>
<div class="highlight"><pre><span></span><span class="p">{</span><span class="o">%</span> <span class="n">extends</span> <span class="s2">&quot;layout.html&quot;</span> <span class="o">%</span><span class="p">}</span>

<span class="p">{</span><span class="o">%</span> <span class="n">block</span> <span class="n">content</span> <span class="o">%</span><span class="p">}</span>
  <span class="o">&lt;</span><span class="n">h2</span><span class="o">&gt;</span><span class="n">About</span><span class="o">&lt;/</span><span class="n">h2</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">p</span><span class="o">&gt;</span><span class="n">Esta</span> <span class="n">página</span> <span class="n">deverá</span> <span class="n">falar</span> <span class="n">um</span> <span class="n">pouco</span> <span class="n">sobre</span> <span class="n">o</span> <span class="n">nosso</span> <span class="n">aplicativo</span> <span class="n">flask</span><span class="o">.&lt;/</span><span class="n">p</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endblock</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
<p>Como feito anteriormente precisamos mapear essa página no
arquivo routes.py criando uma rota e uma função.</p>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="vm">__name__</span><span class="p">)</span>

<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">home</span><span class="p">():</span>
  <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s1">&#39;home.html&#39;</span><span class="p">)</span>

<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/about&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">about</span><span class="p">():</span>
  <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s1">&#39;about.html&#39;</span><span class="p">)</span>

<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
  <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
</pre></div>
</div>
<div class="section" id="navegando">
<h2>Navegando!</h2>
<p>Bom já que criamos uma página sobre nosso app, nada melhor que
criarmos alguma forma para navegar entre as páginas. Vamos
seguir a tendencia da maioria dos sites e deixar a barra ne
navegação a mostra em todas as paginas, para isso vamos editar
o arquivo layout.html e fazer nossas alterações.</p>
<p>O arquivo depois de alterado deve ficar assim:</p>
<div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Flask<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">strong</span><span class="p">&gt;&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;static&#39;,   filename=&#39;css/main.css&#39;) }}&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">strong</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">header</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">h1</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;logo&quot;</span><span class="p">&gt;</span>Aplicação Flask<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">strong</span><span class="p">&gt;&lt;</span><span class="nt">nav</span><span class="p">&gt;</span>
          <span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;menu&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;home&#39;) }}&quot;</span><span class="p">&gt;</span>Home<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ url_for(&#39;about&#39;) }}&quot;</span><span class="p">&gt;</span>Sobre<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
          <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">nav</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">strong</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">header</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>
      {% block content %}
      {% endblock %}
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
<p>Efetuando apenas o ajuste no layout.html notará que o menu
ficou um pouco estranho, devemos editar também o nosso arquivo
main.css para que seja ajustado o nosso menu, para tanto vamos
adicionar as seguintes linhas:</p>
<div class="highlight"><pre><span></span><span class="p">.</span><span class="nc">menu</span> <span class="p">{</span>
  <span class="k">float</span><span class="p">:</span> <span class="kc">right</span><span class="p">;</span>
  <span class="k">margin-top</span><span class="p">:</span> <span class="mi">8</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">menu</span> <span class="nt">li</span> <span class="p">{</span>
  <span class="k">display</span><span class="p">:</span> <span class="kc">inline</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">menu</span> <span class="nt">li</span> <span class="o">+</span> <span class="nt">li</span> <span class="p">{</span>
  <span class="k">margin-left</span><span class="p">:</span> <span class="mi">35</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">menu</span> <span class="nt">li</span> <span class="nt">a</span> <span class="p">{</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#999</span><span class="p">;</span>
  <span class="k">text-decoration</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
<p>A pagina ficou bem simples, mas para exemplo conseguimos
abordar alguns pontos tais como:</p>
<ol class="arabic simple">
<li>Criação da estrutura de arquivos.</li>
<li>Uso de templates.</li>
<li>Redirecionar url.</li>
<li>Trabalhar com arquivo estáticos.</li>
</ol>
<p>Essa dica foi retirada de um
<a class="reference external" href="http://code.tutsplus.com/pt/tutorials/an-introduction-to-pythons-flask-framework--net-28822">site</a>
escrito em português de portual e adaptado para o nosso
português brasileiro.</p>
</div>

  </div>
<section class="social-tools">

    <div class="social-tools__title">
      <p>Share this post</p>
    </div>

    <div class="social-tools__buttons">
      <a class="tweet-blogpost-button"
         href="https://twitter.com/share?text=emilioeiji.com.br - Flask Introdução"
         onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470'); return false;" >
        <i class="fa fa-twitter"></i>
      </a>
      <a class="facebook-share-button"
         href="https://www.facebook.com/sharer/sharer.php?u=/flask-introdução.html"
         onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" >
        <i class="fa fa-facebook"></i>
      </a>
    </div>


</section>
</article>


  </main>
    <footer>
      <div class="author__logo">
          <img src="/theme/images/logo.png" alt="logo">
      </div>
      <section class="author">
        <div class="author__name">
          <a href="/pages/about.html">Emilio Eiji Inaba</a>
          <p>Teste de TAG</p>
        </div>
        <div class="author__link">
          <ul>
            <li>
              <a href="#" target="_blank" title="twitter">
                <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" title="facebook">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" title="github">
                <i class="fa fa-github-square"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" title="linkedin">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <div class="ending-message">
        <p>&copy; Emilio Eiji Inaba. Powered by <a href="http://getpelican.com" target="_blank">Pelican</a>, Theme is using <a href="https://github.com/laughk/pelican-hss" target="_blank">HSS</a>. </p>
      </div>
    </footer>
</body>
</html>